APP_NAME=
APP_PORT=
NODE_ENV=

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=30d

DATABASE_URL=

UPLOAD_PATH=
MAX_FILE_SIZE=
MAX_UPLOAD_SIZE=20971520
BANNER_UPLOAD_PATH=resources/banner_uploads
BANNER_MAX_UPLOAD_SIZE=5242880
MAX_BANNERS_PER_USER=5

BCRYPT_ROUNDS=

MAX_LOGIN_ATTEMPTS=
ACCOUNT_LOCK_MINUTES=
